/* =================== HomePage =================== */
.img_home {
    width: 50%;
    margin: 4em 0;
}

.border_rad {
    border-radius: 15px;
    padding: 11% 0 !important;
    height: 300px !important;
}

.police_raleway {
    font-family: 'Raleway', sans-serif;
}

.titleHomeBlock {
    font-weight: 300;
    font-size: 2em;
    margin-bottom: 0;
}

.text_secondary {
    color: rgb(143, 140, 140);
    font-weight: 200;
    font-style: italic;
}

.text_secondary_2 {
    color: rgb(69, 67, 67);
    font-weight: 200;
    font-style: italic;
}

section article {
    width: 25%;
}

.text_end {
    font-size: 3em;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}

#p_homepage {
    text-align: left !important;
    padding: 2em;
}

.img_logo_footer {
    width: 25%;
}

.img_logo_entreprise {
    width: 33%;
    margin: 1em 5%;
}

#mcdonald {
    width: 15%;
    margin: 1em 5%;
}

.btn_voir {
    border: 1px solid black;
    border-radius: 50%;
    margin: 0px 38%;
    height: 5em;
    align-items: center;
    display: flex;
    justify-content: center;
    color: black;
    background-color: #f5f5f5;
}

.bg_img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
}

.bg_scool {
    background-image: url("../../../images/efrei.png");
}

.bg_projet {
    background-image: url("../../../images/code.jpg");
}

.bg_antonin {
    background-image: url("../../../images/IMG-20221111-WA0073.jpg");
}

.bg_pro {
    background-image: url("../../../images/openspace.jpg");
}


/* ====== MAIN PAGE ======= */
.Home {
    text-align: center;
}

.d_none {
    display: none;
}

.d_flex {
    display: flex;
}

.d_content {
    display: contents;
}

body {
    margin: 0;
}

.nameBase{
    font-family: 'Raleway';
    text-transform: uppercase;
    text-align: center;
    font-weight: 200;
    margin-top: 1.3em;
}
#FirstLastName{
    letter-spacing: 1em;
    font-size: 1.9em;
}
#DescriptionName{
    letter-spacing: 0.8em;
    font-size: 1.2em;
}